{% extends 'base.html.twig' %}

{% block body %}
    <h1>Authors list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.firstname }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.birthday|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
